<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="choose.css">
    <script src="../vue.js"></script>
</head>

<body>
    <div id="app">
        <ul v-for="(goods,index) in goodsList" :key='goods.id' class="shades">
            <li>{{goods.title +':'}}</li>
            <li v-for="type in goods.typeList" :key='type'>
                <span v-if='type === selected[index].content' class="selected">
                    {{type}}
                </span>
                <span v-else @click='choosen(index,type,goods.id)'>
                    {{type}}
                </span>
            </li>
        </ul>
        <div class="chosen">
            已选条件：
            <template v-if="show === 1">
                <span class="tips">暂时没有选择过滤条件</span>
            </template>
            <template v-else-if="show === 2">
                <ul>
                    <li v-for="item of chosen">
                        <span>{{item.name}}</span>
                        <span class="close" @click="del(item.id)">x</span>
                    </li>
                </ul>
            </template>
        </div>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                goodsList: [{
                        title: '上装',
                        typeList: ['全部', '针织衫', '毛呢外套', 'T恤', '羽绒服', '棉衣', '卫衣', '风衣'],
                        id: 1,
                    },
                    {
                        title: '裤装',
                        typeList: ['全部', '牛仔裤', '小脚/铅笔裤', '休闲裤', '打底裤', '哈伦裤'],
                        id: 2,
                    },
                    {
                        title: '裙装',
                        typeList: ['全部', '连衣裙', '半身裙', '长袖连衣裙', '中长款连衣裙'],
                        id: 3,
                    }
                ],
                show: 1,
                //选择好的数据，id为初始值，给个任意值就可以
                selected: [{
                    id: 1,
                    content: "全部"
                }, {
                    id: 2,
                    content: "全部"
                }, {
                    id: 3,
                    content: "全部"
                }],
                chosen: [{
                    id: 1,
                    name: '全部'
                }, {
                    id: 2,
                    name: '全部'
                }, {
                    id: 3,
                    name: '全部'
                }],

            },
            methods: {
                choosen(index, type, id) {
                    //上部分选中
                    Vue.set(this.selected, index, {
                        id: id,
                        content: type
                    });
                    this.showSelected(this.selected);
                },
                showSelected(arr) {
                    //下部分展示内容
                    let rArr = [];
                    for (let i = 0; i < arr.length; i++) {
                        rArr[i] = {
                            id: arr[i].id,
                            name: arr[i].content
                        };
                    }
                    this.chosen = this.showData(rArr);
                    this.finallyShow();
                },
                showData(data) {
                    //过滤chosen
                    return data.filter(e => {
                        return e.name == '全部' ? false : true;
                    });
                },
                del(id) {
                    //删除
                    this.chosen = this.chosen.filter(e => e.id !== id);
                    //上部分显示
                    for (let i = 0; i < this.selected.length; i++) {
                        console.log(this.selected[i].id, id)
                        if (this.selected[i].id == id) {
                            Vue.set(this.selected, i, {
                                id: id,
                                content: '全部'
                            });
                            break;
                        }
                    }
                    this.finallyShow();
                },
                finallyShow() {
                    //下部分最终显示
                    if (this.chosen.length === 0) {
                        this.show = 1;
                    } else {
                        this.show = 2;
                    }
                }
            }
        })
    </script>
</body>

</html>