<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./index.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="../vue.js"></script>
</head>

<body>

  <div id="app">
    <div class="username">
      <input type="text" placeholder="用户名" v-model="name">
    </div>
    <div class="mail">
      <input type="text" placeholder="邮箱" v-model="mail">
    </div>
    <div class="upload-btn" @click="handleUpload">上传</div>
    <div class="show-btn" @click="handleShow">显示人物信息</div>
    <ul class="person-list" v-if="personList.length">
      <li class="person" v-for="person in personList">
        <span>{{ person.name }}</span>
        <span>{{ person.mail }}</span>
      </li>
    </ul>
  </div>

  <script>
    axios.defaults.baseURL = 'https://developer.duyiedu.com/vue';
    const instance = axios.create({
      baseURL: 'https://developer.duyiedu.com/vue/'
    });

    // axios.all([axios.post('https://developer.duyiedu.com/vue/setUserInfo', {
    //   name: 'qqq',
    //   mail: '123'
    // }), axios.get('https://developer.duyiedu.com/vue/getUserInfo')]).then(axios.spread((post, get) => console.log(
    //   post, get)));
    const vm = new Vue({
      el: '#app',
      data: {
        name: '',
        mail: '',
        msg: '',
        personList: []
      },
      methods: {
        handleUpload() {
          //上传
          // this.$http.post('https://developer.duyiedu.com/vue/setUserInfo', {
          //     name: this.name,
          //     mail: this.mail
          //   }).then(res => this.msg = res.body.msg)
          //   .catch(error => this.msg = error.body.msg);
          instance.post('/setUserInfo', {
            name: this.name,
            mail: this.mail
          }).then(res => {
            this.name = '';
            this.mail = '';
            alert(res.data.msg)
          });
        },
        handleShow() {
          //显示人物信息
          // this.$http.get('https://developer.duyiedu.com/vue/getUserInfo')
          //   .then(res => this.personList = res.body.data);
          axios('https://developer.duyiedu.com/vue/getUserInfo')
            .then(res => this.personList = res.data.data);
        }
      },
      watch: {
        msg() {
          if (!this.msg) {
            return;
          }
          alert(this.msg);
          this.msg = '';
        }
      }
    })
  </script>
</body>

</html>