<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>哔哩哔哩 (゜-゜)つロ 干杯~-bilibili</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2138092_9r7wxvlh34u.css">
    <script src="./js/vue.js"></script>
    <script src="./js/axios.js"></script>
    <script src="./js/request.js"></script>
</head>

<body>
    <div id="app" @scroll.passive="handleScroll">
        <!-- 头部区域 -->
        <div class="header">
            <!-- 顶部区域 -->
            <div class="firstLine">
                <div class="login">
                    登入
                </div>
                <div class="search-input">
                    <i class="iconfont icon-fangdajing"></i>
                    <span>姐姐的爱乐之旅</span>
                </div>
                <div class="game">
                    <img src="./img/灌篮高手.jpg" width="28" height="28" alt="">
                </div>
                <div class="playgame">
                    <i class="iconfont icon-2shoubing"></i>
                </div>
                <div class="email">
                    <i class="iconfont icon-youjian"></i>
                </div>
            </div>
            <!-- 导航区域 -->
            <div class="nav" v-if="navList.length">
                <div class="line">
                    <ul class="nav-all">
                        <li class='single' v-for="(nav,index) of navList" :class="{active:nav.choose}"
                            @click="changeSelect(index)" :keys="nav.id">
                            {{nav.title}}
                        </li>
                    </ul>
                    <div class="down" @click='upOrDown'>
                        <svg width="16" height="32" viewBox="0 0 1024 1024">
                            <path
                                d="M515.2 649.6L169.6 304c-12.8-12.8-32-12.8-44.8 0s-12.8 35.2 0 48l368 364.8c12.8 12.8 32 12.8 44.8 0l361.6-361.6c12.8-12.8 12.8-35.2 0-48s-32-12.8-44.8 0L515.2 649.6z"
                                fill="#ccc"></path>
                        </svg>
                    </div>
                </div>
                <div class="vertical" :class="{hide:isHide}">
                    <ul class="nav-all">
                        <li class='single' v-for="(nav,index) of navList" :keys="nav.id" :class="{active:nav.choose}"
                            @click="changeSelect(index)">
                            {{nav.title}}
                        </li>
                    </ul>
                    <div class='up' @click="upOrDown">
                        <svg viewBox="0 0 1024 1024">
                            <path
                                d="M854.4 713.6c12.8 12.8 32 12.8 44.8 0s12.8-35.2 0-48L537.6 304c-12.8-12.8-32-12.8-44.8 0L124.8 672c-12.8 12.8-12.8 35.2 0 48s32 12.8 44.8 0l345.6-342.4 339.2 336z"
                                fill="#ccc"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner区域 -->
        <div class="banner" v-if="bannerList.length">
            <div class="banner-list">
                <ul :style='bannerStyle' @transitionEnd="handleTransitionEnd">
                    <li v-for="(banner,index) in bannerList" :key="banner.id">
                        <img :src="banner.poster" :alt="banner.title">
                    </li>
                </ul>
            </div>
            <div class="banner-points">
                <ul>
                    <li v-for="index of bannerLength" :key="index"
                        :class='{active: index - 1 === bannerIndex % bannerLength}'>
                    </li>
                </ul>
            </div>
        </div>
        <!-- video区域 -->
        <div class="videoBox">
            <ul class="video-list">
                <li v-for="video in videoList">
                    <div class="video">
                        <div class="poster">
                            <div class="video-logo">
                                <img :src="video.poster" alt="">
                            </div>
                            <div class="playRank">
                                <div class="play" v-if="video.play">
                                    <svg viewBox="0 0 1024 1024">
                                        <path
                                            d="M800 128H224C134.4 128 64 198.4 64 288v448c0 89.6 70.4 160 160 160h576c89.6 0 160-70.4 160-160V288c0-89.6-70.4-160-160-160z m96 608c0 54.4-41.6 96-96 96H224c-54.4 0-96-41.6-96-96V288c0-54.4 41.6-96 96-96h576c54.4 0 96 41.6 96 96v448z">
                                        </path>
                                        <path
                                            d="M684.8 483.2l-256-112c-22.4-9.6-44.8 6.4-44.8 28.8v224c0 22.4 22.4 38.4 44.8 28.8l256-112c25.6-9.6 25.6-48 0-57.6z">
                                        </path>
                                    </svg>
                                    <span>{{video.play}}</span>
                                </div>
                                <div class="rank" v-if="video.rank">
                                    <svg viewBox="0 0 1024 1024">
                                        <path
                                            d="M800 128H224C134.4 128 64 198.4 64 288v448c0 89.6 70.4 160 160 160h576c89.6 0 160-70.4 160-160V288c0-89.6-70.4-160-160-160z m96 608c0 54.4-41.6 96-96 96H224c-54.4 0-96-41.6-96-96V288c0-54.4 41.6-96 96-96h576c54.4 0 96 41.6 96 96v448z">
                                        </path>
                                        <path
                                            d="M240 384h64v64h-64zM368 384h384v64h-384zM432 576h352v64h-352zM304 576h64v64h-64z">
                                        </path>
                                    </svg>
                                    <span>{{video.rank}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="title">
                            <span>{{video.title}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- footer 区域 -->
        <div class="footer">
            <ul>
                <li :class="{active:isSure===1}" @click="getContent(1)">
                    <i class="iconfont icon-ziyuan"></i>
                    <span>首页</span>
                </li>
                <li :class="{active:isSure===2}" @click="getContent(2)">
                    <i class="iconfont icon-fenlei_"></i>
                    <span>频道</span>
                </li>
                <li :class="{active:isSure===3}" @click="getContent(3)">
                    <i class="iconfont icon-dongtai"></i>
                    <span>动态</span>
                </li>
                <li :class="{active:isSure===4}" @click="getContent(4)">
                    <i class="iconfont icon-gouwu"></i>
                    <span>会员购</span>
                </li>
                <li :class="{active:isSure===5}" @click="getContent(5)">
                    <i class="iconfont icon-bilibili-line"></i>
                    <span>我的</span>
                </li>
            </ul>
        </div>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                //导航区域
                navList: [],
                isHide: true,
                selectIndex: '',
                //banner区域
                bannerList: [],
                bannerLength: 0,
                bannerStyle: {
                    left: 0,
                    transition: 'left .5s'
                },
                bannerIndex: 0,
                bannerWidth: 356,
                //视频区域
                videoOldList: [],
                //锁
                videoLock: true,
                //视频总数
                videoCount: 0,
                //footer区域
                isSure: 1
            },
            methods: {
                //导航区 初始化数据
                initNav(navs) {
                    navs.forEach((nav, index) => {
                        if (index === 0) {
                            nav.choose = true;
                        } else {
                            nav.choose = false;
                        }
                    });
                    this.navList = navs;
                },
                upOrDown() {
                    //导航区域显示
                    this.isHide = !this.isHide;
                },
                //导航区域 选择分类
                changeSelect(index) {
                    if (this.selectIndex) {
                        this.navList[this.selectIndex].choose = false;
                    } else {
                        this.navList[0].choose = false;
                    }
                    this.selectIndex = index;
                    this.navList[index].choose = true;
                },
                //轮播图区域 初始化数据
                initBanner(banners) {
                    let firstBanner = {
                        ...banners[0]
                    };
                    firstBanner.id = Math.floor(10000000 * Math.random());
                    this.bannerList = [...banners, firstBanner];
                    //用于判断数量
                    this.bannerLength = this.bannerList.length - 1;
                },
                auto() {
                    //轮播图滚动
                    setTimeout(() => {
                        //给transition 重新赋值
                        if (this.bannerIndex === 0) {
                            this.bannerStyle.transition = 'left .5s';
                        }
                        this.bannerIndex++;
                        this.bannerStyle.left = -this.bannerWidth * this.bannerIndex + 'px';
                    }, 1500);
                },
                //开启 下次轮播图滚动
                handleTransitionEnd() {
                    if (this.bannerIndex === this.bannerList.length - 1) {
                        this.bannerIndex = 0;
                        this.bannerStyle.left = 0;
                        //结束上次轮转 否则会出现多次轮转情况
                        this.bannerStyle.transition = 'null';
                    }
                    this.auto();
                },
                //video区域 初始化数据
                initVideo(videoData) {
                    this.videoOldList = videoData.data;
                    this.videoCount = videoData.count;
                },
                //video加载数据 
                handleScroll(e) {
                    //当全部视频都显示完时，不再加载数据
                    if (this.videoList.length === this.videoCount) {
                        return;
                    }
                    let {
                        //滚动条到顶部距离
                        scrollTop,
                        //滚动条长度
                        offsetHeight,
                        //总长度
                        scrollHeight
                    } = e.target;
                    //滚动框到底边的距离
                    let toBottom = scrollHeight - offsetHeight - scrollTop;
                    if (toBottom < 200 && this.videoLock) {
                        this.videoLock = false;
                        axios.get('/video', {
                            params: {
                                start: this.videoOldList.length,
                                offset: 12
                            }
                        }).then(res => {
                            this.videoOldList.push(...res.data);
                            this.videoLock = true;
                        })
                    }
                },
                //footer 选择区域 
                getContent(index) {
                    this.isSure = index;
                },
                //获得所需数据
                getData() {
                    axios.all([
                        axios.get('/nav'),
                        axios.get('/banner'),
                        axios.get('/video', {
                            params: {
                                start: 0,
                                offset: 12
                            }
                        })
                    ]).then(axios.spread((navRes, bannerRes, videoRes) => {
                        this.initNav(navRes);
                        this.initBanner(bannerRes);
                        this.initVideo(videoRes);
                    }))
                }

            },
            computed: {
                videoList() {
                    return this.videoOldList.map(video => {
                        video.play = video.play > 10000 ? video.play / 10000 + '万' : video.play;
                        video.rank = video.rank > 10000 ? video.rank / 10000 + '万' : video.rank;
                        return video;
                    })
                }

            },
            created() {
                //获取数据
                this.getData();
            },
            mounted() {
                //banner 
                this.auto();
            }
        })
    </script>
</body>

</html>