<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../vue.js"></script>
  <link rel="stylesheet" href="./index.css">
</head>

<body>

  <div id="app">
    <div class="header">
      <div class="container">
        <div class="logo">toDoList</div>
        <div class="input-area">
          <input type="text" v-model.lazy='content' />
          <button @click="addMask">添加</button>
        </div>
      </div>
    </div>
    <div class="container">
      <h2>
        <span>正在进行</span>
        <span class="mask-num">{{needDoList.length}}</span>
      </h2>
      <ul class="mask-list">
        <li v-for="(data,index) in needDoList" :key="data.id">
          <div>
            <input type="checkbox" @change='changeType(index,"need")' />
            <span>{{data.title}}</span>
          </div>
          <button @click="delData(index, 'need')">删除</button>
        </li>
      </ul>
    </div>
    <div class="container">
      <h2>
        <span>已经完成</span>
        <span class="mask-num">{{completeList.length}}</span>
      </h2>
      <ul class="mask-list complete-list">
        <li v-for="(data,index) in completeList" :key="data.id">
          <div>
            <input type="checkbox" @change='changeType(index,"complete")' />
            <span>{{data.title}}</span>
          </div>
          <button @click="delData(index)">删除</button>
        </li>
      </ul>
    </div>
  </div>

  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        content: '',
        needDoList: [],
        completeList: []
      },
      methods: {
        addMask() {
          //添加数据
          if (!this.content) {
            return;
          }
          const data = {
            id: Math.random(),
            title: this.content
          }
          this.content = "";
          this.needDoList.push(data);
        },
        changeType(index, type) {
          //改变类型
          if (type === 'need') {
            let del = this.needDoList.splice(index, 1);
            this.completeList.push(...del);
          } else {
            let del = this.completeList.splice(index, 1);
            this.needDoList.push(...del);
          }
        },
        delData(index, type) {
          //删除数据
          let handleArr = type === 'need' ? this.needDoList : this.completeList;
          handleArr.splice(index, 1);
        }
      }
    })
  </script>
</body>

</html>