<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./index.css">
  <script src="../vue.js"></script>
  <script src="./jquery.js"></script>
</head>

<body>

  <div id="app">
    <div class="logo">
      <img src="https://www.baidu.com/img/bd_logo1.png?where=super" title="点击一下，了解更多">
    </div>

    <div class="search-box">
      <span class="search-area">
        <input type="text" maxlength="100" v-model='question' @focus="() => isShow = true" @blur="() => isShow = false">
        <span class="icon icon-paizhao"></span>
      </span>
      <span class="search-btn">百度一下</span>
    </div>

    <ul class="search-list" v-show='isShow && connectList.length > 0'>
      <li v-for="connect in connectList">
        {{connect}}
      </li>
    </ul>
  </div>

  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        isShow: true,
        question: '',
        connectList: []
      },
      methods: {
        getConnect(res) {
          //给联想结果赋值
          this.connectList = res.s;
        }
      },
      watch: {
        question() {
          if (!this.question) {
            this.connectList.length = 0;
            return;
          }
          //监听输入框
          $.ajax({
            url: 'https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',
            dataType: 'jsonp',
            data: {
              wd: this.question,
              //回调函数会从全局找方法，所以用vm.getConnect
              cb: 'vm.getConnect'
            }
          });
        }
      }
    })
  </script>
</body>

</html>