<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- 使用$emit -->
        <zujian @shijian-c="countjia" :num='count'></zujian>
        <!-- native将原生事件绑定到组件 -->
        <z-input @focus.native="onfocus" @blur.native="onblur"></z-input>
        <br>
        <!-- $listeners 不能带.native -->
        <z-listener @focus="onfocus" @blur="onblur"></z-listener>
        <!-- 使用v-model -->
        <z-model v-model="ztext"></z-model>
        <!-- 不使用v-model 实现双向绑定 -->
        <un-model :zvalue='ztext' @zinput="ztext = $event"></un-model>
        <!-- 使用sync 实现双向绑定 -->
        <z-sync :value.sync='zsynctext'></z-sync>
        <!-- 利用v-model 实现复选框双向绑定 -->
        <z-checkbox v-model="zboolean"></z-checkbox>


    </div>
    <script>
        //使用$emit
        Vue.component('zujian', {
            props: {
                'num': Number
            },
            template: `<div><button @click='$emit("shijian-c",2)'>{{num}}</button></div>`
        });
        //native将原生事件绑定到组件
        Vue.component('z-input', {
            template: `<input type='text'/>`
        })
        //使用listener
        Vue.component('z-listener', {
            mounted() {
                console.log(this.$listeners);
            },
            template: `<label>姓名：<input v-on="$listeners"></label>`
        })
        //使用v-model
        Vue.component('z-model', {
            props: ['value'],
            template: `<input :value="value" @input="$emit('input', $event.target.value)"/>`
        })
        //不使用v-model 实现双向绑定
        Vue.component('un-model', {
            props: ['zvalue'],
            template: `<input :value='zvalue' @input="$emit('zinput',$event.target.value)" />`
        })
        //使用sync 实现双向绑定 props中value，$emit中的update:value需固定
        Vue.component('z-sync', {
            props: ['value'],
            template: `<input :value='value' @input="$emit('update:value',$event.target.value)" />`
        })
        //利用v-model 实现复选框双向绑定
        Vue.component('z-checkbox', {
            model: {
                prop: 'checked',
                event: 'change'
            },
            props: {
                checked: Boolean
            },
            template: `<input type="checkbox" :checked="checked" @change="$emit('change', $event.target.checked)">`
        }, )
        let vm = new Vue({
            el: '#app',
            data: {
                count: 0,
                ztext: '多练习才行',
                zsynctext: '....',
                zboolean: true
            },
            methods: {
                countjia(event) {
                    console.log(1111);
                    this.count += event;
                },
                onfocus() {
                    console.log('focus');
                },
                onblur() {
                    console.log('blur');
                },
                onclick() {
                    console.log('click');
                }
            }
        })
    </script>
</body>

</html>